@mixin schema-generator(
  $primary,
  $secondary,
  $background,
  $alpha-bg,
  $highlight,
  $text-primary,
  $text-secondary,
  $boder-color,
  $tab-active,
  $banner-home-dot,
) {
  #{--primary}: $primary;
  #{--secondary}: $secondary;
  #{--alpha-bg}: $alpha-bg;
  #{--background}: $background;
  #{--highlight}: $highlight;
  #{--text-primary}: $text-primary;
  #{--text-secondary}: $text-secondary;
  #{--border-color}: $boder-color;
  #{--tab-active}: $tab-active;
  #{--banner-home-dot}: $banner-home-dot;
}