@import 'mixins/theme.mixin';

:root {
  @include schema-generator(
    $primary: #7200a1,
    $secondary: #444,
    $background: #f5f5f5,
    $alpha-bg: rgba(0,0,0,0.05),
    $highlight: #fff,
    $text-primary: #444,
    $text-secondary: #444,
    $boder-color: rgba(0, 0, 0, 0.1),
    $tab-active: #fff,
    $banner-home-dot: #727171,
  );
}

[data-theme='dark'] {
  @include schema-generator(
    $primary: #7200a1,
    $secondary: #444,
    $background: #170f23,
    $alpha-bg: hsla(0, 0%, 100%, 0.1),
    $highlight: #fff,
    $text-primary: #fff,
    $text-secondary: #444,
    $boder-color: rgba(255, 255, 255, 0.1),
    $tab-active: hsla(0,0%,100%,0.3),
    $banner-home-dot: #d8d8d8,
  );
}