$defaultFontFamily: "roboto";

$primary-color: #2a2e48;

$screen-xsm: 359px;
$screen-sm: 828px;
$screen-lg: 1250px;

$big-card-space: 36px;
$normal-card-space: 24px;
$small-card-space: 14px;

$pc-label-size: 110px;
$mo-label-size: 80px;

$form-col-space: 6px;
$form-row-space: 10px;
$big-row-space: 16px;
$normal-row-space: 12px;
